<!--The content below is only a placeholder and can be replaced.-->
<div class="fullPage">
  <div style="text-align:center">
    <mat-toolbar color="primary" id="mainNav">
        <span>Brandon Welner</span>
        <span class="fill-space"></span>
        <span>these are more links</span>
    </mat-toolbar>
    
    <div id="homeDiv">
      <br><br>
      <img id="roundHeadshot" src="../assets/BHeadShot2.jpg">
      <h1>
      Welcome to Brandon's Portfolio!
      </h1>
      <br>
      <h2>Full stack software developer; lover of life, living, and alliterations</h2>
      <p></p>
    </div>

    
  </div>

  

<router-outlet></router-outlet>
<div id="cityPicContainer">
    <img id="phoenixPic" src="../assets/WhitePhoenix.png">

</div>
</div>