<div class="row homeComponent">
    <div class="col-sm-4"></div>
    <div class="col-sm-3">
        <h1 class="centered">About Me!</h1>
        <p>Born in Phoenix, Arizona, Brandon graduated from Arizona State University with a Bachelor's of Science in 2013. After several years working in the non-profit industry, he decided to pursue a passion of technology and problem solving. This led him to Woz U, where he learned to program in Javascript and Java. In addition, he has self taught other platforms and languages, including Unity and C#. </p>
    </div>
    <div class="col-sm-1">
          <h1 class="centered">Contact</h1>
          <div>
                <a href="mailto:brandonmaxwelner@gmail.com">
                  <i class="fa-envelope-square"></i>Email
                </a><br>
                <a href="https://www.linkedin.com/in/brandonwelner/"><i class="fab fa-github"></i>LinkedIn</a>
                <a href="https://github.com/bwelner"><i class="fab fa-github"></i>Github</a>

              <li>facebook</li>
              <li>Twitter</li>
          </div>
    </div>
    <div class="col-sm-4"></div>
</div>
